<ion-header>
  <ion-toolbar>
    <ion-title>Tracking Setup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-subtitle class=sub-title style="text-transform: none">
    Hello friend!
  </ion-card-subtitle>

   <ion-card-subtitle class=sub-text style="text-transform: none">
    To get more in touch with your body, let's set up your period tracking!
   </ion-card-subtitle>

   <div class=btn-container>
    <div class=btn-center>
      <ion-button type="submit" size="small" fill="solid" shape="round" class="yes-btn">
        Let's go!
      </ion-button>
    </div>>
  </div>

</ion-content>
