<ion-header>
  <ion-toolbar>
    <ion-title>Tracking Setup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-subtitle class=sub-title style="text-transform: none">
    Do you have a preferred birth control type?
  </ion-card-subtitle>

   <div class=btn-container>
    <div class=btn-center>
      <ion-button (click)="RedirectToOtherPage()" type="submit" size="small" fill="solid" shape="round" class="yes-btn">Implant</ion-button>
      <ion-button (click)="RedirectToOtherPage()" type="submit" size="small" fill="solid" shape="round" class="yes-btn">IUD</ion-button>
      <ion-button (click)="RedirectToOtherPage()" type="submit" size="small" fill="solid" shape="round" class="yes-btn">Shot</ion-button>
      <ion-button (click)="RedirectToOtherPage()" type="submit" size="small" fill="solid" shape="round" class="yes-btn">Vaginal Ring</ion-button>
      <ion-button (click)="RedirectToOtherPage()" type="submit" size="small" fill="solid" shape="round" class="yes-btn">Patch</ion-button>
      <ion-button (click)="RedirectToOtherPage()" type="submit" size="small" fill="solid" shape="round" class="yes-btn">Pill</ion-button>
      <ion-button (click)="RedirectToOtherPage()" type="submit" size="small" fill="solid" shape="round" class="yes-btn">Condom</ion-button>
    </div>
    <div class=btn-low-right>
      <ion-button (click)="RedirectToOtherPage()" type="submit" size="small" fill="solid" shape="round" class="yes-btn">Continue</ion-button>
    </div>
  </div>

  <ion-card-subtitle class=prev-slide-bottom-text style="text-transform: none">
    <- Previous slide
  </ion-card-subtitle>
  <ion-card-subtitle class=page-number-bottom-text style="text-transform: none">
    9 of 10
  </ion-card-subtitle>
<!--
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="cycle">
        <ion-icon name="infinite"></ion-icon>
        <ion-label>Cycle</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="circle">
        <ion-icon name="people"></ion-icon>
        <ion-label>Circle</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="media">
        <ion-icon name="play-circle"></ion-icon>
        <ion-label>Media</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="shop">
        <ion-icon name="bag"></ion-icon>
        <ion-label>Shop</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
-->

</ion-content>
