ion-content{
  --background: url(/assets/images/loginbackground.png) no-repeat center/cover fixed;
}

ion-header{
  position:absolute;
  box-shadow: none;
}

ion-title{
  font-family: Copperplate;
  font-size: 20px;
  color:#d17171;
  font-weight: bold;
  text-align: center;
}

ion-toolbar{
  --ion-background-color:transparent;
  --opacity:0;
}

.sub-title{
  font-family: Copperplate;
  padding-top: 230px;
  font-size: 20px;
  color:#d17171;
  text-align: center;
  font-weight: 350;
}

.sub-text{
  font-family: Copperplate;
  padding-top: 20px;
  font-size: 20px;
  color:#d17171;
  text-align: center;
  font-weight: 350;
}

.btn-container {
  height: 200px;
  position: relative;
}

.btn-center {
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  --ion-color-primary:#d17171;
    text-align: center;
    ion-button{
        font-family: Copperplate;
        font-weight:bold;
        font-size: 15px;
    }
}

.btn-low-right {
  margin: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  --ion-color-primary:#d17171;
    text-align: center;
    ion-button{
        font-family: Copperplate;
        font-weight:bold;
        font-size: 15px;
    }
}

#picker {
  --background: transparent;
  border-bottom: none;
  box-shadow: none;
  max-width: 100%;
  color:#d17171;
}

ion-button{
  padding: 0px 5px;
}


.prev-slide-bottom-text{
  font-family: Copperplate;
  padding-top: 20px;
  padding-bottom: 60px;
  padding-left: 20px;
  font-size: 10px;
  color:#818181;
  text-align: center;
  font-weight: 350;
  position: absolute;
  left: 0;
  bottom: 0;
}

.page-number-bottom-text{
  font-family: Copperplate;
  padding-top: 20px;
  padding-bottom: 60px;
  padding-right: 20px;
  font-size: 10px;
  color:#818181;
  text-align: center;
  font-weight: 350;
  position: absolute;
  right: 0;
  bottom: 0;
}

ion-tab-bar{
  --background: rgb(232, 148, 148);
  --color-selected:white;
}

ion-label{
  font-family: Garamond Premier Pro;
  font-size: small;
}
