ion-content{

    //--background: url(/assets/images/loginbackground.png) no-repeat center/cover fixed;
    //--background: url(/assets/images/lunaback.jpg) no-repeat center/cover;
    --background: url(/assets/images/Key.png) no-repeat center/cover fixed;
}


ion-header{
    position:absolute;
}

ion-card{
    --ion-background-color:transparent;
    box-shadow: none;
}


ion-toolbar{
    --ion-background-color:transparent;
    --opacity:0;
}

ion-card-subtitle{
    font-family: Copperplate;
    padding-top: 230px;
    font-size: 20px;
    color:#d17171;
    text-align: center;
    font-weight: 350;
}

.screen-message {
    margin-top: 100px;
}

.wrapform {
    margin-top: 15px;
    ion-item{
        color: grey;
    }
}

//Return to Login
.return-btns{
    margin-top: 30px;
    margin-left: 20px;
    --ion-color-primary:#d17171;
    text-align: left;
    ion-button{
        font-family: Copperplate;
        font-weight:bold;
        font-size: 10px;
    }
}

//Reser password
.reset-btns{
    margin-top: 20px;
    text-align: center;
    --ion-color-primary:#d17171;
    ion-button {
        font-family: Copperplate;
        font-size: 15px;
    }
}
