<ion-header class="ion-no-border">
  <div class="return-btns">
    <ion-button (click)="RedirectToLoginPage()" style="text-transform: none" fill="clear" class="ion-no-padding">
      <ion-icon name="arrow-back" style="color:#d17171"></ion-icon> Back to Login</ion-button>
  </div>
</ion-header>

<ion-content>
  <ion-card class="ion-no-margin">
    <ion-card-content class="wrapform">

      <ion-card-subtitle style="text-transform: none">
        Forgot password? No problem! 
       </ion-card-subtitle>

      <div>
        <ion-item>
          <ion-input type="text" name="email" [(ngModel)]="email" placeholder="Email" required></ion-input>
        </ion-item>
      </div>

      <div class="reset-btns">
        <ion-button type="submit" size="small" fill="solid" shape="round" class="loginbtn">
          Reset Password
        </ion-button>
      </div>

    </ion-card-content>
  </ion-card>
</ion-content>
