<ion-content>
    <h5>Are you interested <br> in period tracking?</h5>
    <ion-button (click) = "redirectToTrackingPages()" style="text-transform: none" type="yes" fill="solid" shape="round" placeholder="Yes" class="yes-btn">
        Yes
    </ion-button>
    <ion-button (click) ="redirectToLogin()"style="text-transform: none" type="no" fill="solid" shape="round" placeholder="No" class="no-btn">
        No
    </ion-button>
    <h6> (Features like period and hormonal <br>
         tracking can be turned off and on in <br>
         your Home Settings to meet your needs.) <br>
    </h6>
</ion-content>
