ion-slides {
  height: 100%;
  --ion-color-primary:#d17171; //Added this line 
  --bullet-background-active:#d39393;
  background-color: #efe1d4;
  border-color: #efe1d4;
  --color:#efe1d4;

}

.welcome{
  background-image: url("../../../assets/images/welcomebackground@2x.jpg");
  background-size: cover;
  background-position: right 5px bottom 10px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.welcome::before{
  opacity:.7;
}

.welcome h4{
  font-family: Georgia;
  font-size: 3.125em;
  font-weight: normal;
  color:#ce9788; 
  border-radius: 1%;
  text-align: center;
  position: static;
  padding-bottom: 56.7%;
  margin-bottom:80%;
  position:absolute;
}

.welcome h5{

  font-family: Georgia;
  font-size: 1em;
  font-weight: normal;
  color:#E89494; 
  border-radius: 1%;
  text-align: center;
  position: absolute;
  padding-bottom:49%;
  margin-bottom:65%;
}

.welcome p{
  font-family: Georgia;
  font-size: .8em;
  font-weight: normal;
  color:#E89494; 
  border-radius: 1%;
  text-align: center;
  position: absolute;
  padding-top:33.7%;
  margin-left:5.3%;
  margin-right: 5.3%;
  line-height: 1.6;
}

.welcome h3{
  font-family: Georgia;
  font-size: .8em;
  font-weight: normal;
  color:#E89494; 
  padding-top:95%;
  margin-top:98%;
  border-radius: 1%;
  text-align: center;
}

.welcome iframe{
  position: absolute;
  margin-bottom:139px;
}

.home-card{
    height: 551px;
    position: absolute;
    --color: #ffffff;
    background-image: url("../../../assets/images/moonwomen.png");
}
footer{
margin-top:90%;
display:none;
}

.tracking-card{
  height: 552px;
  position: absolute;
  --color: #ffffff;
  background-image: url("../../../assets/images/moonwomen.png");
}

.circle-card{
  height: 552px;
  position: absolute;
  --color: #ffffff;
  background-image: url("../../../assets/images/moonwomen.png");
}

.home h3{
  font-family: Georgia;
  font-size: .8em;
  font-weight: normal;
  color:#E89494; 
  padding-top:700px;
}

.tracking h3{
  font-family: Georgia;
  font-size: .8em;
  font-weight: normal;
  color:#E89494; 
  padding-top:700px;
}

.circle h3{
  font-family: Georgia;
  font-size: .8em;
  font-weight: normal;
  color:#E89494; 
  padding-top:700px;
}


// SIGN UP CSS 
  //SIGNUP CSS backgroud image  
  #signup{
    background-image: url("../../../assets/images/loginbackground3.png");
    background-size: cover;
    background-position: right 5px top 0px ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
  
  #signup::before{
    opacity:.53;
  }


// Lunarina Logo on top of page

.signup-c img{
  position: static;
  margin-bottom: 550px;
  height: 50px;
  width: 50px;
  padding-left:0px;
  position:absolute;
}
.signup-c h4{
  font-family: Georgia;
  font-size: 2.5em;
  font-weight: normal;
  color:#AF597A; 
  border-radius: 3px;
  text-align: center;
  position: static;
  // padding-top: 170px;
  // padding-bottom: 540px;
  margin-bottom: 440px;
  padding-left:0px;
  position:absolute;
}

.signup-c h5{
  font-family: Georgia;
  font-size: 1em;
  font-weight: normal;
  color:#AF597A; 
  border-radius: 3px;
  text-align: center;
  position: absolute;
  margin-bottom: 340px;
}

ion-icon {
  --ion-color-primary:#d17171;
 
}

//This applies to all the input fields Email/Pass/Phonenum
.wrapform{
  padding-top:180px;
}

.signup-btns{
  margin-left: 65px;
  text-align: center;
  height: 25px;
  width: 100px;
  --ion-color-primary:#d17171;
  font-family: Copperplate;
}

.checkbox {
  margin-top: 20px;
  margin-bottom: 10px;
}

// CHANGES: ADDED ICONS TO SOCIAL BUTTONS 
.social-btns{    
  --ion-color-primary:#d17171;
 margin-top: 20px;
 text-align: center;
 ion-button{
  font-family: Copperplate;
     font-size: small;
     height: 25px;
     width: 225px;
 }
 ion-icon {
  position: absolute;
  left:180px;
  }
}

.new-member-and-forgot{
  text-align: center;
  --ion-color-primary:#d17171;
  ion-button{
      font-family: Copperplate;
      font-size: 15px;
  }
}
