ion-slides {
  height: 100%;
  --ion-color-primary:#d17171;  
  --bullet-background-active:#d39393;
  background-color: #efe1d4;
  border-color: #efe1d4;
  --color:#efe1d4;

}

ion-content iframe{
  border-radius: 10px;
}

.welcome{
  background-image: url("../../../assets/images/welcomebackground2.png");
  background-size: cover;
  background-position: right 5px bottom 10px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.welcome::before{
  opacity:.7;
}

.welcome h4{
  font-family: Silk Serif;
  font-size: 3.125em;
  font-weight: normal;
  color:#ce9788; 
  border-radius: 1%;
  text-align: center;
  position: static;
  padding-bottom: 56.7%;
  margin-bottom:80%;
  position:absolute;
}

.welcome h5{

  font-family: Silk Serif;
  font-size: 1em;
  font-weight: normal;
  color:#E89494; 
  border-radius: 1%;
  text-align: center;
  position: absolute;
  padding-bottom:49%;
  margin-bottom:65%;
}

.welcome p{
  font-family: Garamond Premeir Pro;
  font-size: .8em;
  font-weight: normal;
  color:#E89494; 
  border-radius: 1%;
  text-align: center;
  position: absolute;
  padding-top:42.7%;
  margin-left:5.3%;
  margin-right: 5.3%;
  line-height: 1.6;
}

.welcome h3{
  font-family: Garamond Premeir Pro;
  font-size: .8em;
  font-weight: normal;
  color:#E89494; 
  padding-top:95%;
  margin-top:98%;
  border-radius: 1%;
  text-align: center;
}

.welcome iframe{
  position: absolute;
  margin-bottom:139px;
}

.home-card{
    height: 551px;
    position: absolute;
    --color: #ffffff;
    background-image: url("../../../assets/images/moonwomen.png");
}
footer{
margin-top:90%;
display:none;
}

.tracking-card{
  height: 552px;
  position: absolute;
  --color: #ffffff;
  background-image: url("../../../assets/images/moonwomen.png");
}

.circle-card{
  height: 552px;
  position: absolute;
  --color: #ffffff;
  background-image: url("../../../assets/images/moonwomen.png");
}

.home h3{
  font-family: Garamond Premeir Pro;
  font-size: .8em;
  font-weight: normal;
  color:#E89494; 
  padding-top:700px;
}

.tracking h3{
  font-family: Garamond Premeir Pro;
  font-size: .8em;
  font-weight: normal;
  color:#E89494; 
  padding-top:700px;
}

.circle h3{
  font-family: Garamond Premeir Pro;
  font-size: .8em;
  font-weight: normal;
  color:#E89494; 
  padding-top:700px;
}


// SIGN UP CSS 
  //SIGNUP CSS backgroud image  
  #signup{
    background-image: url("../../../assets/images/loginbackground.png");
    background-size: cover;
    background-position: right 5px top 0px ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
  
  #signup::before{
    opacity:.53;
  }


// Lunarina Logo on top of page

.signup-c img{
  position: static;
  margin-bottom: 550px;
  height: 50px;
  width: 50px;
  padding-left:0px;
  position:absolute;
}
.signup-c h4{
  font-family: Silk Serif;
  font-size: 2.5em;
  font-weight: normal;
  color:#AF597A; 
  border-radius: 3px;
  text-align: center;
  position: static;
  // padding-top: 170px;
  // padding-bottom: 540px;
  margin-bottom: 440px;
  padding-left:0px;
  position:absolute;
}

.signup-c h5{
  font-family: Silk Serif;
  font-size: 1em;
  font-weight: normal;
  color:#AF597A; 
  border-radius: 3px;
  text-align: center;
  position:absolute;
  margin-bottom: 340px;
}


//This applies to all the input fields Email/Pass/Phonenum
/*
.wrapform{
  padding-top:180px;
}
*/
.signup-btns{
  margin-left: -69px;
  margin-top: 28px;
  text-align: center;
  height: 45px;
  width: 139px;
  --ion-color-primary:#E89494;
  font-family: garamond premeir pro;
  position:absolute;
}

.checkbox {
  margin-top: 20px;
  margin-bottom: 10px;
  position:absolute;
}

// CHANGES: ADDED ICONS TO SOCIAL BUTTONS 
/*
.social-btns{    
  --ion-color-primary:#E89494;
 margin-top: 20px;
 text-align: center;
 ion-icon {
  position:absolute;
  left:180px;
  }
}
*/

.social-btns ion-button.google {
    font-family: garamond premeir pro;
    font-size: .5em;
    height: 30px;
    width: 112px;
    position:absolute;
    margin-left: -55px;
    margin-top: 120px;
    --ion-color-primary:#E89494;
}
.social-btns ion-button.facebook {
  font-family: garamond premeir pro;
  font-size: .5em;
  height: 30px;
  width: 112px;
  position:absolute;
  margin-left: -55px;
  margin-top: 160px;
  --ion-color-primary:#E89494;
  
}

.new-member-and-forgot{
  position:absolute;
  text-align: center;
  font-size:.5em;
  --ion-color-primary:#d17171;
  ion-button{
      font-family: garamond premeir pro;
      font-size: 15px;
      margin-top: 190px;
      margin-left:-105px;
  }
}

.signup-c ion-card-content ion-input.email{  
  position:absolute;
  margin-top:-235%;
  margin-left:-400.5%;
  margin-bottom:28%;
  width: 830%;
}

.signup-c ion-card-content ion-icon.email {  
  position:absolute;
  margin-top:-240%;
  margin-left:-400.5%;
  margin-bottom:28%;
}
.signup-c ion-card-content h6.email{  
  font-family: garamond premeir pro;
  font-size: .7em;
  --ion-color-primary:#E89494;
  color:#E89494;
  position:absolute; 
  margin-top:-265%;
  margin-left:-400.5%;
  margin-bottom:28%;
}

.signup-c ion-card-content ion-input.password{  
  position:absolute;
  margin-top:-100%;
  margin-left:-400.5%;
  margin-bottom:28%;
  width: 830%;
}

.signup-c ion-card-content ion-icon.password{  
  position:absolute;
  margin-top:-100%;
  margin-left:-400.5%;
  margin-bottom:28%;
}

.signup-c ion-card-content h6.password{  
  font-family: garamond premeir pro;
  font-size: .7em;
  --ion-color-primary:#E89494;
  color:#E89494;
  position:absolute; 
  margin-top:-130%;
  margin-left:-400.5%;
  margin-bottom:28%;
}

