
<ion-content>
  <ion-slides pages pager="true" [options]="slideOpts">
    <ion-slide class="welcome">
      <h4>Lunarina</h4>
      <h5>Welcome to the community!</h5>
      <iframe 
        src="https://www.youtube.com/embed/UsVFCwSdFAU"></iframe>
      <p>On a journey of awakening to the beauty of yourself. 
        We invite you to join our online community to discover 
        the guiding wisdom of  your cycles and tune
        your life to the rhythm of your body.</p>
        <h3>Swipe to take a tour of the Lunarina App!</h3>
    </ion-slide>
    <ion-slide class="home">
      <ion-card class="home-card">
        <img src="../../assets/images/HomePagePreview.png">
      </ion-card>
      <h3>Swipe to take a tour of the Lunarina App!</h3>
    </ion-slide>
   <ion-slide class="tracking">
      <ion-card class="tracking-card">
        <img src="../../assets/images/TrackingPagePreview.png">
      </ion-card>
      <h3>Swipe to take a tour of the Lunarina App!</h3>
    </ion-slide>
    <ion-slide class="circle">
      <ion-card class="circle-card">
        <img src="../../assets/images/CirclePagePreview.png">
      </ion-card>
      <h3>Swipe to take a tour of the Lunarina App!</h3>
    </ion-slide> 

  
    <ion-slide id="signup" class="signup-c">

      <img class="displayed" height="100 px" width="100 px" src="assets/images/Logo.png">
      <h4>Welcome</h4>
      <h5> Join the Lunarina community! <br>
        A world of wonder awaits...</h5>
 
        <ion-card-content>

          <form [formGroup]="validationFormUser" (ngSubmit) = "registerUser(validationFormUser.value)">
         
            <!-- <ion-item class="email" color="transparent"> --> 
              <ion-icon class="email" color="primary"  size="small" name="mail" slot="start"></ion-icon>
              <h6 class="email">Email</h6>
              <ion-input class="email" type="text" name="emailSignup" [(ngModel)]="emailSignup" formControlName="emailSignup"></ion-input> 
            <!-- </ion-item> ---> 


            <!-- <ion-item class="password" color="transparent"> -->
              <ion-icon class= "password" color="primary" size="small" name="key" slot="start"></ion-icon>
              <h6 class= "password" >Password</h6>
              <ion-input class= "password" type="password" name="password" [(ngModel)]="password" formControlName="password"></ion-input> 
           <!-- </ion-item> -->
         

              <div class="signup-btns">
              <ion-button (click)="registerUser(validationFormUser.value)" style="text-transform: none" type="submit" fill="solid" shape="round" class="signup-btns" [disabled]="!validationFormUser.valid">
              Sign Up
              </ion-button>
              
            </div>
    

          <div class="social-btns">

            <ion-button class= "facebook" fill="solid" shape="round">  Sign up with Facebook
             <!--- <ion-icon name="logo-facebook" style="color:white"></ion-icon>-->
            </ion-button>
            <ion-button class= "google" fill="solid" shape="round"> Sign up  with Google
              <!--<ion-icon name="logo-google" style="color:white"></ion-icon>-->
            </ion-button>
           <!--- <ion-button style="text-transform: none" fill="solid" shape="box" class="apple"> Sign up with Apple
              <ion-icon name="logo-apple" style="color:white"></ion-icon></ion-button>-->
         
          </div>
    
          <!-- Already a member button will redirect to login page -->
          <div class="new-member-and-forgot">
            <ion-button (click)="RedirectToLoginPage()" fill="clear">Already have an account? <br> Login!</ion-button>
            <br>
          </div>

        </form>
        </ion-card-content>
    </ion-slide>

  </ion-slides>
</ion-content>


