<ion-header>
  <ion-toolbar>
    <ion-title>Tracking Setup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-subtitle class=sub-title style="text-transform: none">
    What is your weight?
  </ion-card-subtitle>

   <div class=btn-container>
    <div class=btn-center>
      <ion-button (click)="RedirectToOtherPage()" type="submit" size="small" fill="solid" shape="round" class="yes-btn">&lt;100 lbs</ion-button>
      <ion-button (click)="RedirectToOtherPage()" type="submit" size="small" fill="solid" shape="round" class="yes-btn">100 - 120 lbs</ion-button>
      <ion-button (click)="RedirectToOtherPage()" type="submit" size="small" fill="solid" shape="round" class="yes-btn">121 - 140 lbs</ion-button>
      <ion-button (click)="RedirectToOtherPage()" type="submit" size="small" fill="solid" shape="round" class="yes-btn">141 - 160 lbs</ion-button>
      <ion-button (click)="RedirectToOtherPage()" type="submit" size="small" fill="solid" shape="round" class="yes-btn">161 - 180 lbs</ion-button>
      <ion-button (click)="RedirectToOtherPage()" type="submit" size="small" fill="solid" shape="round" class="yes-btn">181 - 200 lbs</ion-button>
      <ion-button (click)="RedirectToOtherPage()" type="submit" size="small" fill="solid" shape="round" class="yes-btn">&gt;200 lbs</ion-button>
    </div>
    <div class=btn-low-right>
      <ion-button (click)="RedirectToOtherPage()" type="submit" size="small" fill="solid" shape="round" class="yes-btn">Continue</ion-button>
    </div>
  </div>

</ion-content>
