<ion-header>
  <ion-toolbar>
    <ion-title>Tracking Setup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-subtitle class=sub-title style="text-transform: none">
    Do you experience PMS?
  </ion-card-subtitle>

   <div class=btn-container>
    <div class=btn-center>
      <ion-button (click)="RedirectToOtherPage()" type="submit" size="small" fill="solid" shape="round" class="yes-btn">Yes</ion-button>
      <ion-button (click)="RedirectToOtherPage()" type="submit" size="small" fill="solid" shape="round" class="yes-btn">No</ion-button>
    </div>
  </div>

</ion-content>
