<ion-header class="ion-no-border">
</ion-header>

<ion-content>
    <!-- Upper right return button will return to sign up page-->
    <div class="return-btns">
      <ion-button (click)="RedirectToOtherPage()" style="text-transform: none" fill="clear" class="ion-no-padding">
        <ion-icon name="arrow-back" style="color:#d17171"></ion-icon> Back to Sign up</ion-button>
    </div>

    <!-- Header includes icon and welcome message -->
    <ion-card-header>
    <img class="displayed" width="150 px" src="assets/images/Logo.png">
      <ion-card-title>
        Welcome back
      </ion-card-title>
    </ion-card-header>

    <!-- in card content you will find - input for email/password , forgot password button
      which takes used to forgot page, login button, and social media buttons for login purposes-->
    <ion-card-content>
      <div class="wrapform">
        
        <ion-item color="transparent">
          <ion-icon color="primary"  size="small" name="mail" slot="start"></ion-icon>
          <ion-input type="text" [(ngModel)]="email" placeholder="Email" required></ion-input>
        </ion-item>

        <ion-item color="transparent">
          <ion-icon color="primary" size="small" name="key" slot="start"></ion-icon>
          <ion-input type="password" name="password" [(ngModel)]="password" placeholder="Password" required></ion-input>
        </ion-item>

      </div>

      <div class="password_forgot">
        <ion-button (click)="RedirectToOtherForgotPage()" style="text-transform: none" fill="clear" class="ion-no-padding">Forgot Password</ion-button>
      </div>
      
      <div class="login-btns">
        <ion-button (click)="RedirectToHomePage()" size="small" fill="solid" shape="round" class="loginbtn">Login</ion-button>
      </div>

      <div class="social-btns">
        
        <ion-button style="text-transform: none" fill="solid" shape="box"> Login with Facebook
          <ion-icon name="logo-facebook" style="color:white"></ion-icon>
        </ion-button>
        <ion-button style="text-transform: none" fill="solid" shape="box" class="google">Login with Google
          <ion-icon name="logo-google" style="color:white"></ion-icon>
        </ion-button>
        <ion-button style="text-transform: none" fill="solid" shape="box" class="apple">Login with Apple
          <ion-icon name="logo-apple" style="color:white"></ion-icon></ion-button>
      </div>

    </ion-card-content>


</ion-content>
