
<ion-content>
  <ion-slides pages pager="true" [options]="slideOpts">
    <ion-slide class="welcome">
      <h4>Lunarina</h4>
      <h5>Welcome to the community!</h5>
      <iframe 
        src="https://www.youtube.com/embed/UsVFCwSdFAU"></iframe>
      <p>On a journey of awakening to the beauty of yourself. 
        We invite you to join our online community to discover 
        the guiding wisdom of  your cycles and tune
        your life to the rhythm of your body.</p>
        <h3>Swipe to take a tour of the Lunarina App!</h3>
    </ion-slide>
    <ion-slide class="home">
      <ion-card class="home-card">
        <img src="../../assets/images/HomePagePreview.png">
      </ion-card>
      <h3>Swipe to take a tour of the Lunarina App!</h3>
    </ion-slide>
    <ion-slide class="tracking">
      <ion-card class="tracking-card">
        <img src="../../assets/images/moonwomen.png">
      </ion-card>
      <h3>Swipe to take a tour of the Lunarina App!</h3>
    </ion-slide>
    <ion-slide class="circle">
      <ion-card class="circle-card">
        <img src="../../assets/images/moonwomen.png">
      </ion-card>
      <h3>Swipe to take a tour of the Lunarina App!</h3>
    </ion-slide>
  </ion-slides>
</ion-content>


