


   <link rel = "stylesheet" href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href ="usercircle.page.scss">

<ion-content>
 <body>
   <div class="toggle" id ="toggle">
      <i class= "fa fa-plus" aria-hidden="true"></i>
   </div> 
   <div class="menu" id="menu"> 
      <a href = "#">
        <i class="fa fa-user" aria-hidden="true">
        </i>
      </a>
      <a href = "#">
        <i class="fa fa-user" aria-hidden="true">
        </i>
      </a>
      <a href = "#">
        <i class="fa fa-user" aria-hidden="true">
        </i>
      </a>
      <a href = "#">
        <i class="fa fa-user" aria-hidden="true">
        </i>
      </a>
      <a href = "#">
        <i class="fa fa-user" aria-hidden="true">
        </i>
      </a>
      <a href = "#">
        <i class="fa fa-user" aria-hidden="true">
        </i>
      </a>
   </div>
 </body>
</ion-content>
