ion-content{
    --background: url(/assets/images/Prototype_Backgrounds_UI_Splash3.png) no-repeat center/cover fixed;
}

::-webkit-scrollbar {
    display: none;
}

@keyframes fadein {

    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.date {
    padding-top: 10px;
    padding-left: 15px;
    overflow: visible;
    font-family: Garamond Premier Pro;
    font-style: normal;
    font-size: 15px;
    color: rgba(232, 148, 148);
}

.welcome {
    padding-left: 15px;
    font-family: Silk Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(175, 89, 122)
}

#grid1{
    padding-top: 15px;
    padding-left: 12px;
    font-family: Garamond Premier Pro;
    font-weight: bold;
    color:rgba(232, 148, 148);
    background-color: #FFFFFF;
    border-radius: 15px;
    background-size: 25px 25px cover;
    box-shadow: 1px 1px 4px 1px #888888;
    height: 100%;
}

.grid_text{
    font-size: smaller;
    font-family: Garamond Premier Pro;
    font-weight: lighter;
    text-align: left;
}


.Path_4 {
    width: 30%;
    height: 20%;
}

#Path_4 {
    fill: rgba(232,148,148,1);
}

.feeling{
    font-size: 20px;
    font-family: Silk Serif;
    padding-top: 1%;
    padding-left: 5%;
    color:  rgba(175, 89, 122);
}

#grid2{
    padding-top: 20px;
}

#input1{
    font-family: Garamond Premier Pro;
    font-size: 12px;
    background-color:rgba(255, 255, 255);
    border-radius: 5px;
}

#input2{
    font-family: Garamond Premier Pro;
    font-size: 12px;
    background-color:rgba(255, 255, 255);
    border-radius: 5px;
}

.icons{
    padding-top: 10px;
    height: 80%;
    width: 70%;
    object-fit: scale-down;
}

.select_icons{
    font-family: Silk Serif;
    padding-bottom: 5px;
    font-size: small;
    color:rgba(232, 148, 148);
}

.submit_button{
    font-family: Garamond Premier Pro;
    padding-inline-start: inherit;
}

#submit_button{
    --background:rgba(232,148,148,1);

}

#videos{
    padding-top: 5%;
    padding-left: 5%;
}

.med_videos{
    padding-left: 5%;
    font-family: Garamond Premier Pro;
    font-weight: bold;
    color: rgba(232,148,148,1);
}

#com_label{
    color: rgba(232,148,148,1);
    font-family: Silk Serif;

}

.community{
    color: rgba(232,148,148,1);
    font-family: Garamond Premier Pro;
    padding-left: 10px;
    font-size: small;
}

#circle_cont{
    color: rgba(232,148,148,1);
    font-family: Silk Serif;
}

.circle_text{
    color: rgba(232,148,148,1);
    font-family: Garamond Premier Pro;
    font-size: small;
    padding-top: 46%;
    padding-left: 5%;
}

#Mask_Group_11{
    padding-top: 10%;
    padding-left: 20%;
}

.underline{
    text-decoration:underline;
    text-align: center;
    padding-right: 20%;
    font-size: small;
}

.circle12{
    position: absolute;
    padding-top: 8%;
    padding-left: 40%;
    height: auto;
    width: auto;
    overflow: visible;
}

.circle13{
    position: absolute;
    padding-top: 20%;
    padding-left: 30%;
    overflow: visible;
}

.circle14{
    position: absolute;
    padding-left: 24%;
    padding-top: 8%;
    overflow: visible;
}